In [1]:
import pandas as pd

In [4]:
df=pd.read_csv(r"C:\Users\Admin\Downloads\lưu trữ\LOTR.csv")
df

   FellowshipID FirstName     Skills
0          1001     Frodo     Hiding
1          1002   Samwise  Gardening
2          1003   Gandalf     Spells
3          1004    Pippin  Fireworks

In [5]:
df1=pd.read_csv(r"C:\Users\Admin\Downloads\lưu trữ\LOTR 2.csv")
df1

   FellowshipID FirstName   Age
0          1001     Frodo    50
1          1002   Samwise    39
2          1006   Legolas  2931
3          1007    Elrond  6520
4          1008  Barromir    51

In [6]:
df.merge(df1)

   FellowshipID FirstName     Skills  Age
0          1001     Frodo     Hiding   50
1          1002   Samwise  Gardening   39